.diff{
    color:aqua;
}

p{
    color:red;
}
#iddiff{
    color:green;
}


/* 
inline
- dispaly:block & width:..%
- inline-block --> put 2 things beside each other
- margin 
*/
*{
    margin: 0;
    padding: 0;
}
.boxes{
    display: flex;
    width:80%;
    /* left&right */
    margin:auto;  
    /* bel 3ard*/
    justify-content: space-between;
    /*  */
    justify-content: space-around;
    /*  */

}